.num {
    background-color: rgb(0, 162, 255);
    color: rgb(0, 0, 0);
    padding: 25px;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
}

.num:hover {
    background-color: rgb(0, 108, 151);
    color: rgb(0, 0, 0);
    padding: 25px;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
}

.num:active {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 25px;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
}

.func {
    background-color: rgb(255, 153, 0);
    color: rgb(0, 0, 0);
    padding: 25px;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
}

.func:hover {
    background-color: rgb(143, 86, 0);
    color: rgb(0, 0, 0);
    padding: 25px;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
}

.func:active {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 25px;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
}
.output {
    text-shadow: 100px;
}

.mainCalc {
    background-color: gray;
}